body {
	background-color: #1f1b1b;
	height: 2000px;
	font-family: 'Roboto', sans-serif;
	padding: 30px;
	color: white;
}

.main-nav-pills {
	position: static;
	height: 100%;
}

h1{
	font-weight: 300;
	color: lightgray;
	text-align: center;
}